@import "../../styles/import";

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  @include mq(lg) {
    flex-direction: row;
  }
}
