@import "../../styles/includes/variables";

.header {
  display: flex;
  background: var(--color-element);
  .header-inner {
    display: flex;
    justify-content: space-between;
    h3 {
      color: var(--color-text);
      font-size: $font-size-heading;
    }
    .switch-theme {
      background: none;
      border: medium none;
      color: var(--color-text);
      cursor: pointer;
      font-size: $font-size-element;
      font-weight: $font-weight-light;
      display: flex;
      align-items: center;
      span {
        margin-left: $default-space;
      }
      svg {
        width: 20px;
      }
    }
  }
}
