@import "./styles/includes/variables";
@import "./styles/includes/mixins";

/* 
general styles
*/

body {
  font-family: $font-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: $font-weight-bold;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;

  @include mq(sm) {
    max-width: 540px;
  }
  @include mq(md) {
    max-width: 720px;
  }
  @include mq(lg) {
    max-width: 1140px;
  }
}

.mb-1 {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.app {
  background-color: var(--color-background);
  height: 100vh;
}

main {
  margin-top: 40px;
}
