:root {
  --color-background: hsl(0, 0%, 98%);
  --color-element: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 100%);
}

:root.dark {
  --color-background: hsl(207, 26%, 17%);
  --color-element: hsl(209, 23%, 22%);
  --color-text: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 52%);
}

input[type="text"]::-webkit-input-placeholder {
  color: var(--color-text);
  opacity: 0.6;
}

input[type="text"]::-moz-placeholder {
  color: var(--color-text);
  opacity: 0.6;
}

input[type="text"]::-ms-input-placeholder {
  color: var(--color-text);
  opacity: 0.6;
}

input[type="text"]::placeholder {
  color: var(--color-text);
  opacity: 0.6;
}
